img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  }

#img-position {
  position: relative;
  bottom: 110px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 75px;
}

.button {
  padding: 14px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #33B1FF
}

.button:active {
  background-color: #33B1FF;
  transform: translateY(4px);
}

#firstqtr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#secondqtr {

}
#thirdqtr {

}
#fourthqtr {

}

#imgheader {
  background-image: url('https://assets.new.siemens.com/siemens/assets/api/uuid:7d067788-85d5-4eb8-a68b-7edd15442a95/width:3840/quality:high/digital-enterprise-virtual-summit-highres.jpg');
  background-size: cover;
  height: 265px;
  width: 100%;
}

html, body {
  margin: 0; 
  padding: 0;
}

h1 {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 65px;
  position: relative;
  top: 10px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: lighter;
  position: relative;
  bottom: 40px;
}

h3 {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
}

#aboutme {
  padding: 0;
  position: relative;
  bottom: 90px;
}

#cert {
  padding: 0;
}

#edu {
  padding: 0;
}

#skills {
  padding: 0;
}

#int {
  padding: 0;
}

#contact {
  padding: 0;
}

p1 { 
  text-align: left;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 20px;
  left: 20px;
}

body {
  background-color: #191970;
}

.layout-box1{
  position: relative;
  left: 14%;
  top: 100px;
  width: 1250px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.952);
  border: 2px solid black;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.boxed {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 300px;
  border-radius: 15px;
  background-color: #A9A9A9;
  position: relative;
  left: 0px;
  bottom: 92px;
}

