img {
    border-radius: 50%;
  }

.container {
  display: flex;
  justify-content: space-between;
}

#firstqtr {

}
#secondqtr {

}
#thirdqtr {

}
#fourthqtr {

}

.button {
  display: inline-block;
  padding: 14px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3371FF;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #33B1FF
}

.button:active {
  background-color: #33B1FF;
  transform: translateY(4px);
}

#imgheader {
  background-image: url('https://assets.new.siemens.com/siemens/assets/api/uuid:7d067788-85d5-4eb8-a68b-7edd15442a95/width:3840/quality:high/digital-enterprise-virtual-summit-highres.jpg');
  background-size: cover;
  height: 150px;
  width: 100%;
  flex-shrink: 0;
}

html, body {
  margin: 0; 
  padding: 0;
}

h1 {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 50px;
}

p1 {
  color: white;
  font-size: 25px;
  position: relative;
  bottom: 50px;
  left: 730px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}