img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

#imgheader {
  background-image: url('https://assets.new.siemens.com/siemens/assets/api/uuid:7d067788-85d5-4eb8-a68b-7edd15442a95/width:3840/quality:high/digital-enterprise-virtual-summit-highres.jpg');
  background-size: cover;
  height: 265px;
  width: 100%;
}

#img-me {
  position: relative;
  bottom: 110px;
}

#img-cert {
  position: relative;
  bottom: 116px;
}

#img-exp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 164px;
}

#img-sports {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#img-skills {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 65px;
}

#img-ppt {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  right: 200px;
  bottom: 165px;
  background-color: white;
}

#img-word {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  left: 200px;
  bottom: 245px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 75px;
}

.button {
  padding: 14px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #33B1FF
}

.button:active {
  background-color: #33B1FF;
  transform: translateY(4px);
}

#firstqtr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#secondqtr-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#secondqtr-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#thirdqtr-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#thirdqtr-2 {

}

#fourthqtr {

}

html, body {
  margin: 0; 
  padding: 0;
}

body {
  background-color: #191970;
}

h1 {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 65px;
  position: relative;
  top: 10px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: lighter;
  position: relative;
  bottom: 40px;
}

h3 {
  padding: 0;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
}

#aboutme {
  position: relative;
  bottom: 90px;
}

#cert {
  position: relative;
  bottom: 100px;
}

#exp {
  position: relative;
  bottom: 150px;
}

#skills {
  position: relative;
  bottom: 45px;
}

#int {

}

#contact {

}

p1 { 
  text-align: left;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 20px;
  left: 20px;
}

p2 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 115px;
}

#li-1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 90px;
  left: 20px;
}

#li-2 {
  padding: 0;
  margin: 0;
  position: relative;
  right: 80px;
  bottom: 193px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

/* layout boxes for About Me section */
.layout-box1{
  position: relative;
  left: 14%;
  top: 100px;
  width: 1250px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.boxed {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 300px;
  border-radius: 15px;
  background-color: #A9A9A9;
  position: relative;
  left: 0px;
  bottom: 92px;
}
/* layout boxes for About Me section */

/* layout box for Certificates section */
.layout-box2{
  position: relative;
  top: 300px;
  bottom: -100px;
  left: 268px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}
/* layout box for Certificates section */

/* layout box for Experience section */
.layout-box3{
  position: relative;
  left: 1017px;
  bottom: 155px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}
/* layout box for Experience section */

/* layout box for Skills section */
.layout-box4{
  position: relative;
  left: 270px;
  top: 49px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}
/* layout box for Skills section */

