/* CSS to make image round and responsive */
img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

/* CSS for header image */
#imgheader {
  background-image: url('https://assets.new.siemens.com/siemens/assets/api/uuid:7d067788-85d5-4eb8-a68b-7edd15442a95/width:3840/quality:high/digital-enterprise-virtual-summit-highres.jpg');
  background-size: cover;
  height: 265px;
  width: 100%;
}

/* CSS for profile picture */
#img-me {
  width: 180px;
  height: 180px;
  position: relative;
  bottom: 110px;
}

/* CSS for Certificate icon */
#img-cert {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 116px;
}

/* CSS for Experience icon */
#img-exp {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 140px;
}

/* CSS for Skill icon */
#img-skills {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 65px;
}

/* CSS for PowerPoint icon */
#img-ppt {
  width: 80px;
  height: 80px;
  position: relative;
  right: 200px;
  bottom: 165px;
  background-color: white;
}

/* CSS for Word icon */
#img-word {
  width: 80px;
  height: 80px;
  position: relative;
  left: 200px;
  bottom: 245px;
  background-color: white;
}

/* CSS for Interest icon */
#img-int {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 44px;
}

/* CSS for Sport image */
#img-sports {
  width: 80px;
  height: 80px;
  position: relative;
  right: 200px;
  bottom: 145px;
}

/* CSS for Netflix icon */
#img-nf {
  width: 80px;
  height: 80px;
  position: relative;
  left: 200px;
  bottom: 224px;
}

/* Flex container to spread buttons evenly */
.button-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 75px;
}

/* CSS for buttons */
.button {
  padding: 14px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
}

/* CSS for buttons in hover state */
.button:hover {
  background-color: #33B1FF
}

/* CSS for buttons when clicked */
.button:active {
  background-color: #33B1FF;
  transform: translateY(4px);
}

/* Flex container for About Me section */
#flexcontainer1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Flex container for Certificates section */
#flexcontainer2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Flex container for Experience section */
#flexcontainer3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Flex container for Skills section */
#flexcontainer4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Flex container for Interests section */
#flexcontainer5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Flex container for Contact Me section */
#flexcontainer6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* CSS to set margin and padding to 0 for entire website */
html, body {
  margin: 0; 
  padding: 0;
}

/* Background color for body tag */
body {
  background-color: #191970;
}

/* CSS for h1 tag */
h1 {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 65px;
  position: relative;
  top: 10px;
}

/* CSS for h2 tag */
h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: lighter;
  position: relative;
  bottom: 40px;
}

/* CSS for h3 tag */
h3 {
  padding: 0;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
}

/* CSS for position of h3 element (About Me) */
#aboutme {
  position: relative;
  bottom: 90px;
}

/* CSS for position of h3 element (Certificates) */
#cert {
  position: relative;
  bottom: 100px;
}

/* CSS for position of h3 element (Experience) */
#exp {
  position: relative;
  bottom: 125px;
}

/* CSS for position of h3 element (Skills) */
#skills {
  position: relative;
  bottom: 45px;
}

/* CSS for position of h3 element (Interests) */
#int {
  position: relative;
  bottom: 24px;
}

/* CSS for position of h3 element (Contact Me) */
#contact {
  position: relative;
  bottom: 118px;
}

/* CSS for paragraph in About Me section */
#p1 { 
  text-align: left;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

/* CSS for paragraph in Experience section*/
#p2 {
  text-align: left;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 114px;
}

/* CSS for third paragraph */
#p3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 190px;
}

/* CSS for list 1 */
#li-1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  position: relative;
  bottom: 90px;
  left: 20px;
}

/* CSS for list 2 */
#li-2 {
  padding: 0;
  margin: 0;
  position: relative;
  right: 80px;
  bottom: 193px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

/* Layout box for About Me section */
.layout-box1{
  position: relative;
  left: 14%;
  top: 100px;
  width: 1250px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Gray layout box for About Me section */
.boxed {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 300px;
  border-radius: 15px;
  background-color: #A9A9A9;
  position: relative;
  left: 0px;
  bottom: 92px;
}

/* Layout box for Certificates section */
.layout-box2{
  position: relative;
  top: 300px;
  bottom: -100px;
  left: 268px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}

/* Layout box for Experience section */
.layout-box3{
  position: relative;
  left: 1017px;
  bottom: 154px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}

/* Layout box for Skills section */
.layout-box4{
  position: relative;
  left: 270px;
  top: 49px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}

/* Layout box for Interests section */
.layout-box5{
  position: relative;
  left: 1020px;
  bottom: 405px;
  width: 600px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}

/* Layout box for Contact Me section */
.layout-box6{
  padding-bottom: 80px;
  position: relative;
  bottom: 200px;
  left: 544px;
  width: 800px;
  height: 400px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.795);
  border: 2px solid black;
}

/* Gray layout box for Contact Me section */
.boxed2 {
  padding: 30px;
  height: 400px;
  border-radius: 15px;
  background-color: #A9A9A9;
  position: relative;
  bottom: 40px;
}

/* CSS for input box Name */
#Name {
  height: 25px;
  width: 200px;
  border-radius: 10px;
}

/* CSS for input box Email */
#Email {
  height: 25px;
  width: 200px;
  border-radius: 10px;
}

/* CSS for input box Comments */
#Comment {
  height: 70px;
  width: 600px;
  border-radius: 10px;
}

/* CSS for label */
label {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

